/* Google Font */
/* @import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;700&family=Nanum+Gothic:wght@400;700&display=swap"); */


:root {
    font-size: 62.5%;
}
/* for clear deafult things */
/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
body {
    font-family: 'Nanum Gothic', sans-serif;
}

/* Navigation */
nav {
    background: #f5f5f5;
    height: 60px;
    text-align: center;
}
nav a {
    font-size: 2rem;
    text-decoration: none;
    line-height: 60px;
    font-family: 'Mukta', sans-serif;
    color: black;
    font-weight: 700;
    padding: 0.5rem 1rem;
    margin: 0 1rem 0 1rem;
}
nav a:hover {
    color: #898989;
}
/* Responsive Rules */
/* NAV bar */
@media screen and (min-width: 0) and (max-width: 480px) {
  nav a {
      display: inline-block;
      font-size: 2rem;
      margin: 0 0.1rem 0 0.1rem;
  }
  nav {
      height: 120px;
  }
}
/* ABOUT page */

/* Home Page main part */
main {
    text-align: center;
    margin: 10px;
    padding: 10px;
}
main img {
    height: 350px;
    padding: 20px;
}
main div {
    margin:  30px 0;
}
main div h1 {
    font-size: 3rem;
    text-shadow: 1px 1px 5px #0546eb; 
}
main div p {
    font-size: 1.5rem;
    padding: 40px 0;
}
main div.home-content a {
    text-decoration: none;
    font-size: 1.5rem;
    border: solid 1px #0bc9eb;
    border-radius: 20px;
    background: #0bc9eb;
    font-weight: bolder;
    color: white;
    padding: 10px 50px;
}
main div.home-content a:hover {
    border: solid 1px #0bc9eb;
    color: #0bc9eb;
    background: white;
    transition: 0.3s;
}
/* About me Page */
.about-content > p {
    border: solid 1px lightblue;
    border-radius: 5px;
    display: inline-block;
    width: 18%;
    margin: 1.8rem;
    height: auto;
    padding: 1rem 0 4rem 0 ;    
}

.about-content i {
    font-size: 4rem;
    margin: 1.3rem;
    color: #0bc9eb;
}
mark {
    background: rgb(195, 231, 253);
}
@media screen and (min-width: 0) and (max-width: 480px) {
    .about-content > p {
        display: block;
        width: 80%;
        margin: 2rem;
        height: auto;
        padding: 1rem 0 4rem 0 ;    
    }
}
/* Services-Portfolio*/
main .services-portfolio img{
    float: left;
    height: 12rem;
    width: 20rem;
}
main .services-portfolio p {
    text-align: left;
    clear: both;
    padding: 0;
}
main .services-portfolio img:nth-of-type(2) {
    float: right;
}
/* Contact */
pre {
    font-size: 2.2rem;
}
main .contact-content i {
    font-size: 2.9rem;
    color: blue;
    margin: 0.9rem;
    text-shadow: 5px 3px 7px gray;
}
 @media screen and (max-width:480px) {
     main img {
        height: 210px;
        padding: 20px;
        width: 80%;
        margin: 0 auto 0 auto;
     }
 }